body {
    font-family: "Inter", sans-serif;
}
.Introduccion {
  display: flex;
  gap: 10px;
  padding: 40px;
  margin-top: 0px;
  padding-top: 0px;
}
p {
  margin: 50px;
}
h2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  font-weight: bold;
}
.Experiencia {
  background-color: black;
  padding: 40px;
  color: white;
}
.card-img-top {
  height: 450px;
}
#Estudios {
  padding: 50px;
}
.d-block {
  height: 500px;
  width: 10px;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
}
